In [ ]:
Q. 1. In the below elements which of them are values or an expression? 
       eg:- values can be integer or string and expressions will be mathematical operators.
    
    * 
    'hello'
    -87.8
    - 
    / 
    +	
    6

Values are "hello", -87.8, 6

Expressions are *, -, / , +

In [ ]:
Q. 2. What is the difference between string and variable?

String : It is a text data which is enclosed with single quotes or double quotes

Variable : It is identifier which is used to hold the value

In [ ]:
Q. 3. Describe three different data types.

Data Types in Python are as follows:
    1. int
    2. float
    3. bool
    4. complex
    5. str
    6. list
    7. tuple
    8. set
    9. dict

In [ ]:
Q. 4. What is an expression made up of? What do all expressions do?

Expression is a made up of a combination of operators and operands to produce a result

In [ ]:
Q. 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In [ ]:
Expression : - It evaluates to a value
             - Evaluation of expression always returns a result value
             - Every expression can't be a statement

Statement : - It excutes something
            - Execution of statement may or may not return a result
            - Every statement can be an expression

In [ ]:
Q. 6. After running the following code, what does the variable bacon contain?

    bacon = 22
    bacon + 1

In [2]:
bacon = 22

bacon + 1

23

In [ ]:
Q. 7. What should the values of the following two terms be?

    'spam' + 'spamspam'
    
    'spam' * 3

In [4]:
print('spam' + 'spamspam')

print('spam' * 3)

spamspamspam
spamspamspam

In [ ]:
Q. 8. Why is eggs a valid variable name while 100 is invalid?

In [ ]:
There are some rules to be followed while naming the variable

Rule 1: You should start variable name with an alphabet or underscore(_) character.
Rule 2: A variable name can only contain A-Z,a-z,0-9 and underscore(_).
Rule 3: You cannot start the variable name with a number.
Rule 4: You cannot use special characters with the variable name such as such as $,%,#,&,@.-,^ etc.
Rule 5: Variable names are case sensitive. For example str and Str are two different variables.
Rule 6: Do not use reserve keyword as a variable name for example keywords like class, for, def, del, is, else, try, from, etc.

In [ ]:
Q. 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

- To get integer value, use int() function
- To get floating-point number, use float() function
- To get string value, use str() function

In [ ]:
Q. 10. Why does this expression cause an error? How can you fix it?

    'I have eaten ' + 99 + ' burritos.'

In [6]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

This expression results in error due to TypeError, which is the int datatype cannot concatenated with string datatype.

To fix this, we can use str() function to convert int datatype to string.

In [8]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'